{% if user.is_authenticated %}
    <div id="userBrowser">
        <input type="checkbox" id="toggle-user" style="display: none;">
        <div values="head">
            <label for="toggle-user"><img src="{{ user.profile.avatar.url }}" alt="Profile"></label>
        </div>
        <div values="body">
            <div>
                <div>
                    <img src="{{ user.profile.avatar.url }}" alt="Profile">
                </div>
                <div>
                    <b>{{user.first_name}} {{user.last_name}}</b>
                </div>
            </div>

            <div>
                <div>
                    <a href="{% url 'Setting_Index' %}">Configuración</a>
                </div>
                <div>
                    <form method="post" action="{% url 'logout' %}">
                        {% csrf_token %} 
                        <input type="submit" value="Cerrar sesión" class="__error">
                    </form>
                </div>
            </div>
        </div>
    </div>
{% endif %}