
main 
{
    display: flex;
    gap: .25rem;
    padding: .25rem;
    flex-direction: column;
}
.bannerHome
{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 250px;
    width: 100%;
    box-shadow:0 0 8px 2px rgba(var(--color-dark),0.2) inset; 
    position: relative;
    background-image: url('../../media/img/banner/studens.jpg');
    animation: bannerFade 1000ms linear normal;
    &>div 
    {
        z-index: 2;
        color: rgba(var(--color-texto-inverso));
        text-shadow:1px 2px  rgba(var(--color-dark));
        &[val="img"] 
        {
            z-index: 1;
            position: absolute;
            height: 50%;
            left: 1%;
            top: 50%;
            transform: translateY(-50%);
        }
    }
}

.info-aprender-evaluear
{
    display: flex;
    justify-content: center;
    height: 350px;
    background-image: url('../../media/img/banner/aprender_evaluar.jpg');
    padding: 1rem;
    overflow: hidden;
    &>div 
    {
        padding: 1rem;
        background-color: rgba(var(--color-light), 0.5);
        backdrop-filter: blur(12px);
        height: min-content;
        border-radius: 12px;
        & b
        {
            color: rgba(var(--color-azul));
            background-color: rgba(var(--color-light));
        }
    }
}

footer
{
    display: flex;
    flex-direction: column;
    background-color: rgba(var(--color-dark),0.92);
    &, a 
    { color: rgba(var(--color-texto-inverso)); }
    gap: .5rem;
    padding: 1rem;

    &>div 
    {
        padding:.25rem;
        &:first-child
        {
            display: flex;
            flex-direction: column;
            justify-content: center;
            gap: .25rem;
            border-bottom: 1px dotted rgba(var(--color-light));
            padding-bottom: .5rem;
            &>div 
            {
                display: flex;
                flex-direction: column;
                gap: .5rem;
                &>div 
                {
                    display: flex;
                    align-items: center;
                    gap: .5rem;
                }
            }
        }
        &:last-child
        {
            display: flex;
            flex-direction: column;
            gap: .5rem;
            text-align: center;
        }
    }
    img 
    { width: 20px; aspect-ratio: 1/1; }
}

.info-recuadro 
{
    display: none;
}

@media (min-width: 767px) 
{
    .bannerHome
    {
        height: 350px;
        &>div 
        {
            &[val="img"] 
            {
                height: 80%;
                top: 100%;
                transform: translate(0%, -105%);
            }
            &[val="title"] 
            {
                font-size: 1.6rem;
            }
        }
    }

    .info-aprender-evaluear
    {
        height: 450px;
        &>div 
        {
            font-size: larger;
            & b
            {
                padding: .1rem;
                border-radius: 5px 0 ;
            }
        }
    }
}


@keyframes bannerFade 
{
    0%
    { transform: translate(100%, 0%); opacity: 0; }
    50%
    { transform: translate(0%, 0%); opacity: 1; }
    70%
    { transform: scale(1.2); }
    100%
    { transform: scale(1); }
}