@import url("complements/class.css");
@import url("complements/animations.css");
@import url("complements/alerts.css");
@import url("layout/tema/dark.css");

/* Global styles for all elements and pseudo-elements */
*, ::after, ::before {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Roboto', 'Helvetica Neue', Helvetica, Arial, sans-serif;
   /* font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif; */
}

:root 
{
    --size-text-large: 1.5rem;  
    --size-text-medium: 1rem; 
    --size-text-small: 0.8rem;  

    --dimension-ser: rgb(174, 184, 0);
    --dimension-ser-rgb: 174, 184, 0;

    --dimension-hacer: rgb(74, 0, 193);
    --dimension-hacer-rgb: 74, 0, 193;

    --dimension-conocer: rgb(169, 0, 192);
    --dimension-conocer-rgb: 169, 0, 192;

    --success:var(--green-600);
    --danger:var(--red-700);
    --info:var(--teal-600);
}

img
{
    object-fit: contain;
    display: block;
    width: 100%;
    height: 100%;
}

a
{
    text-decoration: none;
    color: rgb(var(--text-color));
}

*
{
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
}

