.createform
{
    &>bodyview
    {
        box-shadow: 0 0 0 0.4rem rgba(var(--color-tema), 0.3);
        & div {border-radius: 5px; border: 0;}
        &>div /* CONTAINER*/
        {
            display: flex; flex-direction: column;
            gap: 0.6rem;
            font-weight: 600;
            &>div 
            {
                display: flex; flex-direction: column;
                gap: 0.3rem;
                padding: 0.3rem 0.3rem;
                background-color: var(--surface-card);
            }

            &>div:nth-child(1) /*TITLE*/
            {
                background-color: var(--info);
                font-size: var(--size-text-large);
                &>div
                {
                    text-align: center;
                }
            }
            &>div:nth-child(2) /*BODY*/
            {
                &>div
                {   
                    label{font-size: calc(var(--size-text-medium) + 0.2rem);}
                    input 
                    {
                        font-size: calc(var(--size-text-medium) + 0.2rem);
                        padding: 0.3rem 0.3rem; border-radius: 5px; border: 0;
                    }
                }
            }
            
            &>div:nth-child(3) /*BOTTON*/
            {
                background-color: transparent;
                padding: 0;
                &>input 
                {
                    box-shadow: 0 0 0 0.2rem var(--focus-ring);
                    font-size: calc(var(--size-text-medium) + 0.2rem);
                    margin: auto;
                    padding: 0.3rem 0.6rem !important;
                    max-width: min-content;
                    width: min-content !important;
                    background-color: var(--primary-color);
                    color: white;
                }
            }
        }
        
    }
}