#__rubrica> div[values="join"]
{
    --gap:0.3rem;
    --padd:0.2rem;

    > div[values="head"]
    {
        display: flex; flex-direction: column;
        gap: var(--gap);
        > div[values="content"]
        {
            & div { border-radius: 0.2rem; }
            display: flex;
            gap: var(--gap);
            width: 100%;
            > div:nth-child(1)
            {
                display: flex;
                gap: var(--gap);
                flex-grow: 1;
                > #__nav__institucionales__ 
                {   
                    width: min-content;
                    > div 
                    {
                        padding: 0;
                        gap: var(--gap);
                        flex-wrap: wrap;
                        justify-content: space-between;
                        >div {width: 100%; padding: var(--padd); background-color: rgba(var(--color-tema),0.1); justify-content: space-between; align-items: center;}
                    }
                }
                > div:nth-child(2)
                {
                    display: flex;
                    background-color: rgba(var(--color-tema),0.1); 
                    padding: var(--padd);
                    flex-grow: 1;
                    > textarea 
                    {
                        padding: var(--padd);
                        flex-grow: 1;
                    }
                }
            }
            
            > div:nth-child(2)
            {
                position: relative;
                display: flex;
                align-items: center;
                padding: var(--padd);
                background-color: rgba(var(--color-tema),0.1); 
                &> input, &> img
                {
                    width: 8;
                    height:8rem;
                }
                > input 
                {
                    position: absolute;
                    inset: 0; /* Esto establece top, right, bottom, y left a 0 */
                    margin: auto; /* Permite centrar el elemento si su tamaño es menor que el contenedor */
                    opacity: 0;
                }
                > img 
                {
                    
                }
            }
        }
        > div[values="aggregate"]
        {
            display: flex;
            justify-content: center;
            align-items: center;
            background-color: var(--success);
            border-radius:0 0 0.3rem 0.3rem;
            padding: var(--padd);
            gap: var(--gap);
            font-weight: 600;
        }
    }
}



@media (max-width: 767px) 
{
    #__rubrica> div[values="join"]
    {
        --width-column:5rem;
        --gap:0.2rem;
        --padd:0.2rem;
        
        > div[values="head"]
        {
            > div[values="content"]
            {
                > div:nth-child(1)
                {
                    width: min-content;
                    flex-direction: column;
                    > #__nav__institucionales__ 
                    {  width: 100%; }
                        
                    > div:nth-child(2)
                    {
                        > textarea 
                        {
                            padding: var(--padd);
                        }
                    }
                }
                
                > div:nth-child(2)
                {
                    position: relative;
                    display: flex;
                    align-items: center;
                    padding: var(--padd);
                    background-color: rgba(var(--color-tema),0.1); 
                    &> input, &> img
                    {
                        width: 7;
                        height:7rem;
                    }
                    > input 
                    {
                        position: absolute;
                        inset: 0; /* Esto establece top, right, bottom, y left a 0 */
                        margin: auto; /* Permite centrar el elemento si su tamaño es menor que el contenedor */
                        opacity: 0;
                    }
                    > img 
                    {
                        
                    }
                }
            }
            > div[values="aggregate"]
            {
                display: flex;
                justify-content: center;
                align-items: center;
                background-color:var(--success);
                border-radius:0 0 0.3rem 0.3rem;
                padding: var(--padd);
                gap: var(--gap);
                font-weight: 600;
            }
        }
    }
}
