#__medium {
    display: flex;
    gap: 0;
    
}

.container-main 
{
    display: flex;
    flex-direction: column;
    flex-grow: 1;
    background-color: var(--surface-section);
    border-left: 2px solid var(--surface-border);
    border-right: 2px solid var(--surface-border);

    & > div 
    { padding: .5rem; border-radius: 6px; }

    & > .container-nav 
    {
        display: flex;
        gap: 0.5rem;
        font-size: var(--size-text-medium);

        & > div > a 
        {
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
            padding: 0.5rem 1rem;
            border-radius: 6px;
            background-color: var(--surface-ground);
            border: 2px solid var(--surface-border);
            cursor: pointer;
            text-transform: uppercase;
            height: 100%;
            &>span:last-child
            {
                width: min-content;
                color: var(--primary-color);
                text-transform:lowercase;
            }
            &[values='active'] 
            { background-color: var(--primary-color); }
        }
    }

    & > .container-file 
    {
        display: grid;
        grid-template-columns: repeat(auto-fill, minmax(12rem, 1fr));
        gap: 0.5rem;
        align-items: flex-start;
        width: 100%;
        overflow-y: auto;

        & .child-file 
        {
            display: flex;
            flex-direction: column;
            padding: .5rem;
            gap: .5rem;
            background-color: var(--surface-card);
            border-radius: 6px;
            box-shadow: 
                -0.375rem 0.375rem 0.375rem 0.0625rem rgba(var(--color-tema), 0.05) inset,
                0 0 0.25rem 0.125rem rgba(var(--color-tema), 0.2);

            & .child-file-menu 
            {
                display: flex;
                width: min-content;
                position: relative;
                & > .config-label 
                {
                    background-color: var(--surface-hover);
                    padding: .5rem 1rem;
                    border-radius: 6px;
                    cursor: pointer;
                }

                & > .config-content 
                {
                    flex-direction: column;
                    width: 120px;
                    position: absolute;
                    left: 100%;
                    top: 0;
                    background-color: var(--surface-ground);
                    border: 2px solid var(--surface-border);
                    border-radius: 6px;
                    overflow: hidden;

                    & > div 
                    {
                        display: flex;
                        align-items: end;
                        padding: .5rem;
                        gap: .5rem;
                        cursor: pointer;
                        text-transform: capitalize;
                        &>img 
                        { width: 1.2rem; }
                        &:hover 
                        { background-color: var(--surface-hover); }
                    }
                }
            }

            .child-body {
                & > a {
                    display: block;
                    width: 100%;
                    padding: 2.4rem 0;
                    border-radius: 0.3125rem;
                    text-align: center;
                    font-size: var(--size-text-large);
                    text-shadow: 0 0.125rem 0.125rem rgba(var(--color-tema), 0.3);
                    overflow: hidden;
                    box-shadow: 
                        -0.375rem 0.25rem 0 0.3125rem rgba(var(--color-tema), 0.1) inset,
                        0.375rem -0.25rem 0 0.3125rem rgba(var(--color-tema), 0.03) inset;
                    background-color: var(--primary-color);
                    text-transform: capitalize;
                }
            }
        }
    }
}

.config-content 
{ display: none; }

.config-toggle:checked ~ .config-content 
{ display: flex; }

@media (max-width: 767px) {
    #container_main {
        overflow: hidden;

        & > #container__nav > div > a {
            font-size: large;
        }

        & > #container__system__file {
            overflow-y: scroll;
        }
    }
}
