#__right {
    display: flex; 
    flex-direction: column;
    gap: 0.5rem; /* Mantiene el tamaño original de 8px */
    padding: 0.5rem; /* Mantiene el tamaño original de 8px */
    background-color: rgba(var(--color-light));
}

#container_rigth 
{
    display: flex; 
    margin: auto;

    & > div[values="buttons"] > div 
    {
        width: 2.5rem; /* Mantiene el tamaño original de 48px */
        aspect-ratio: 1 / 1;
        background-color: rgba(var(--info));
        color: rgba(var(--color-texto-inverso));
        border-radius: 50%; /* Mantiene el mismo aspecto circular */
        display: flex; 
        justify-content: center; 
        align-items: center;
        box-shadow: 0 0 0 0.125rem rgba(var(--color-light)) inset,  0 0 0.8rem 0.1rem rgba(var(--color-dark),0.6); /* 2px a 0.125rem */
        transition: transform 200ms;
        cursor: pointer;
        
        &:hover 
        { transform: scale(0.8); }
    }
}
