
{% extends 'layout/basic.html'%}
{% load static %}

{% block head %}
    <title>Inicio</title>
    <link rel="stylesheet" href="{% static 'css/website/book.css' %}">
    <script src="{% static 'js/website/app.js' %}"></script>
{% endblock %}

{% block content %}       

  <banner class="bannerHome background-img card flex-center">
    {% if user.is_authenticated %}
      <div val="img">
        <img src="{% static 'media\img\neo\ok.png' %}" alt="#" />
      </div>

      <div val="title">
          <h2>Bienvenido <span>{{ user.first_name|capfirst }} {{ user.last_name|capfirst }}</span></h2>
      </div>
    {% else%}  
      <div val="off">
          <h2>SE PARTE DE NEO</h2> <a href="{% url 'signup' %}">Crear mi cuenta</a>
      </div>
    {% endif %}
  </banner>

  <section class="info-aprender-evaluear background-img card">  
    <div>
      <div>
        <div><b>APRENDER</b> ES EVALUAR</div>
        <div>EVALUAR ES <b>APRENDER</b></div>
      </div>
    </div>
  </section>  

  <section class="info-recuadro">  
    <!--<div values="head"> Evalúa enseñando</div> -->
    <div values="body">

    <!-- 1 -->
    <!-- 2 -->
      <div>
        <p>
          Evalúa enseñando a las personas si saben definir objetivos, aplicarlos y retroalimentarse sobre ellos.
        </p>
      </div>

    <!-- 3 -->
      <div>
        <p>
          Evalúa enseñando cómo construir entornos amables, seguros y gratificantes donde se pueda aprender, disfrutar y descansar.
        </p>
      </div>

      <!-- 4 -->
      <div>
        <p>
          Evalúa enseñando cómo gestionan la información, cómo organizan, estructuran, entrelazan ideas nuevas y antiguas, y las consolidan en sus mentes.
        </p>
      </div>
      
      <!-- 4 -->
      <div>
        <p>
          Evalúa enseñando dominios, dando espacios para desarrollar habilidades que luego sepan aplicar en los entornos que así lo requieran.
        </p>
      </div>

      <!-- 5 -->
      <div>
        <p>
          Enseña evaluando la capacidad que tienen las personas para asumir el control y desarrollo de sus metas, definiendo objetivos, aplicándolos, reflexionando sobre ellos y así redirigiendo su camino.
        </p>
      </div>

      <!-- 6 -->
      <div>
        <p>
          Evalúa enseñando con alegría y motivación para fomentar la motivación.
        </p>
      </div>

    </div>
  </section>
{% endblock %}


{% block footer %}
  <div>
      <div> 
        <h3>Contáctanos</h3>
      </div>
     
      <div>
        <div> <img src="{% static 'media\img\icons\email.svg' %}"> multipaciente@gmail.com </div>
        <div> <img src="{% static 'media\img\icons\telephone.svg' %}"> +57 300 8809977 </div>
        <div> <img src="{% static 'media\img\icons\whatsapp.svg' %}"> Dev : +57 301151948 </div>
      </div>
  </div>
        
  <div>
    <div>Todos los derechos reservados. Copyright © Multipacientes 2024</div>
    <div><a href="https://www.instagram.com/andres_alvear512?igsh=MWxiempjbGRhMXVpaA==">Diseñado y Desarrollado por Andres Alvear</a></div>
  </div>
{% endblock %} 