@import url('head/book.css');
@import url('body/book.css');
#__calificacion
{
 &>div
 {   
  &[values='__b']
  {
    width: min-content;
    flex-grow: 0; display: flex; gap: 0.3em;
    flex-direction: column; 
    font-size: var(--size-text-medium); 
    background-color: var(--surface-card);
    border: 1px solid var(--surface-border);
  }
 }
}


@media (max-width: 767px) 
{
  #__calificacion
  {
   &>div
   {   
    &[values='__b']
    {
      gap: 0.1em;
    }
   }
  }
}