
view
{
    display: none;
    justify-content: center;
    align-items: center;
        position: fixed;
        left: 0;
        top: 0;
    width: 100vw;
    height: 100vh;

    z-index: 10;
    background-color: rgba(var(--color-dark), 0.8);
    animation: showform 200ms linear normal;
}
    @keyframes showform 
    {
        0%{ opacity: 0; }   
        100% { opacity: 1; } 
    }
    view>form
    {
        display: flex; flex-direction: column; gap: 1rem;
        position: relative;
        background-color: rgba(var(--color-light),1);
        padding: 3em;
        border-radius: 5px;
    }
        view>form>.view__hide
        {
            display: flex;
            width: auto !important;
            background-color: rgb(var(--danger));
            color: rgb(var(--color-texto-inverso));
            padding: 0.4em 0.8em;

            position: absolute;
            right: 0;
            top: 0;
            border-radius: 3px;
            cursor: pointer;
        }
        view>form>div
        {
            display: flex;
            align-items: center;
            justify-content: space-between;
            width: 100%;
        }
        view>form>div:last-child{justify-content: center; margin: 0;}

            view>form>div>label
            {
                color: rgb(var(--color-texto));
                font-weight: 600;
            }
            view>form>div>input
            {
                padding: 0.2em;
                font-size: var(--size-text-medium);
                margin-left: 1em;
                &[type="submit"]
                {
                    background-color: rgb(var(--info));
                    border: 0;
                    color: rgb(var(--color-texto-inverso));
                    padding: 0.5rem 1rem;
                    border-radius: 5px;
                    width: min-content;
                }
            }
            .errorlist
            {
                position: fixed;
            }

@media (max-width: 767px) 
{
   
        view>form
        {
           width: 90%;
           padding: 2rem;
        }
            view>form>.view__hide
            {   
                padding: 0.3rem 1rem;
            }
            view>form>div
            {
                display: flex; gap: 0.3rem;
                justify-content: space-between;
            }
            view>form>div:last-child{justify-content: center;}

                view>form>div>label
                {
                    color: rgb(var(--color-texto));
                }
                view>form>div>input
                {
                    width: 8rem;
                    font-size: var(--size-text-medium);
                    border: 0;
                    &[type="submit"]
                    {
                        padding: 0.5rem 1rem;
                    }
                }
                .errorlist
                {
                    position: fixed;
                }
}