{% extends 'layout/drive.html'%}
{% block title %}Instituciones{% endblock %}
{% load static %}

{% block head %}
    <link rel="stylesheet" href="{% static 'css/institucionales/index.css' %}">
    <script src="{% static 'js/institucionales/app.js' %}"></script>
    <script src="{% static 'js/institucionales/medium.js' %}"></script>
{% endblock %}
    

{% block view %}
    <view id="view__01"> 
        <form id="form__institucionales" method="post" action="#">
            <div class="view__hide">x</div>
            {% csrf_token %}
            {{ form }}
            <div> <input type="submit" value="Crear"> </div>
        </form>
    </view>
{% endblock %}


{% block medium%}
    <p style="display: none;" id="root__url">/institucionales/institucion/</p>
    <p style="display: none;" id="namespace">institución</p>

    <div class="container-main">
            <div class="container-nav">
               <div> <a href="#" values="active">Instituciones</a> </div>
            </div>

            <div class="container-file">
                {% for objeto in objetos %}
                    <div class="child-file">
                        <div class="child-file-menu">
                            <input type="checkbox" id="toggle-config-{{ objeto.id }}" class="config-toggle" hidden>
                            <label for="toggle-config-{{ objeto.id }}" class="config-label"> ... </label>
                            <div class="config-content" __id="{{ objeto.id }}" data-url="/institucionales/institucion/">
                                <div class="inst__delete">
                                    <img src="{% static 'media/img/icons/delete.svg' %}">
                                    <span>eliminar</span>
                                </div>
                                <div class="inst__put">
                                    <img src="{% static 'media/img/icons/lapiz.svg' %}">
                                    <span>editar</span>
                                </div>
                            </div>
                        </div>
                        <div class="child-body"> <a href="{% url 'index__programa' fk=objeto.id %}" type="in">{{objeto.nombre}}</a></div>
                    </div>
                {% endfor %}
            </div>
    </div>
{% endblock %}

{% block right %}
    <div id="container_rigth">
        <div values="buttons"> <div class="add_url" id="__add" class="bg-primary">+</div> </div>
    </div>           
{% endblock %}



