body 
{
  display: flex; flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
  width: 100vw;
  overflow: hidden;
  background-color: rgb(var(--color-dark));
}
  
  header 
  { animation: openheader 0.1s normal; }
  
  @keyframes openheader {
    0% { transform: translateX(30%); }
    100% { transform: translateX(0); }
  }
  
  main 
  {
    width: 100%;
    flex-grow: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    background: center/cover no-repeat url('../../media/img/backgrounds/students.jpg');
    overflow: hidden;
  }
  
  #container__sesion 
  {
    display: flex; 
    justify-content: space-between; align-items: center;
    gap: 2rem;
    padding: 1rem 2rem;
    border-radius: 0.5rem;
    background-color: rgba(var(--color-light), 0.3);
    box-shadow: 0 0 0 1rem rgba(var(--color-dark), 0.3), 0 0 0.625rem 0.25rem rgba(var(--color-light), 0.3) inset, 0 0 1.25rem 0.25rem rgba(var(--color-dark), 0.8);
    animation: forms 0.3s normal;
    transition: transform 0.2s, box-shadow 0.2s;
    &:hover 
    {
      transform: scale(1.01);
      box-shadow: 0 0 0 1rem rgba(var(--color-azul), 0.3), 0 0 0.625rem 0.25rem rgba(var(--color-light), 0.3) inset, 0 0 1.25rem 0.25rem rgba(var(--color-dark), 0.8);
    }

    > div:first-child 
    {
      display: flex;
      flex-direction: column;
      color: rgb(var(--color-texto-inverso));
      text-shadow: 0 0.125rem 0.25rem rgba(var(--color-dark), 0.8);
      > div:first-child 
      { 
        flex-grow: 1; 
        > img {width: 20rem; object-fit: contain; }
      }
    }
    > div:nth-child(2) 
    {
      position: relative;
      > form 
      {
        display: flex;
        flex-direction: column;
        gap: 2rem;
        > div 
        {
          position: relative;
          > label 
          {
            position: absolute;
            left: 5%;
            transform: translate(0, -85%);
            background-color: rgba(var(--color-dark), 0.8);
            color: rgb(var(--color-texto-inverso));
            padding: 0.1rem 0.4rem;
            border-radius: 0.3125rem 0.3125rem 0.3125rem 0;
            font-weight: 600;
          }
          > input 
          {
            color: rgb(var(--color-texto));
            background-color: rgba(var(--color-light), 0.6);
            padding: 0.6rem;
            border: 0.2rem solid rgb(var(--color-azul-m-50));
            border-radius: 0.3rem;
            font-size:calc(var(--size-text-large) - 0.3rem);
            font-weight: 600;
            transition: all 0.2s;
            -webkit-text-fill-color: rgb(var(--color-texto));
            &:focus 
            {
              color: rgb(var(--color-texto-inverso));
              background-color: rgb(var(--color-dark));
              -webkit-text-fill-color: rgb(var(--color-texto-inverso));
              caret-color: rgb(var(--color-texto-inverso));
            }
            &:-webkit-autofill 
            {
              -webkit-box-shadow: 0 0 0 1000rem rgb(var(--color-dark)) inset;
              -webkit-text-fill-color: rgb(var(--color-texto-inverso));
              color: rgb(var(--color-texto-inverso));
            }
          }
        }
        > button 
        {
          background-color: rgb(var(--color-azul-m-100));
          color: rgb(var(--color-texto-inverso));
          padding: 1rem 0;
          border: 0;
          border-radius: 0.6rem 0;
          font-weight: 600;
          cursor: pointer;
          transition: background 0.2s, border-radius 0.2s, transform 0.2s;
          &:hover 
          {
            background-color: rgb(var(--color-azul-m-50));
            border-radius: 0.625rem;
          }
          &:active {
            background-color: rgb(var(--color-dark));
            transform: scale(0.8);
          }
        }
      }
    }
  }
  
  @keyframes forms 
  { 0% { transform: scale(0.6); } 100% { transform: scale(1); } }
  
  .errorlist {
    text-align: center;
    transform: translate(0, -125%);
    color: rgb(var(--color-texto-inverso));
    position: absolute;
    background-color: rgb(var(--danger));
    width: 100%;
    padding: 0.4rem;
    border-radius: 0.3125rem;
    font-size: var(--size-text-medium);
    animation: errorlist 1.5s normal;
  }
  
  .errorlist > li {
    list-style: none;
  }
  
  @keyframes errorlist {
    0%, 100% { transform: translate(0, -125%); }
    25% { transform: translate(10%, -125%); }
    50% { transform: translate(-10%, -125%); }
    75% { transform: translate(10%, -125%); }
  }


@media (max-width: 767px) 
{
  #container__sesion 
  {
    flex-direction: column;
    justify-content: center; align-items: center;
    gap: 2rem ;
    width: 95%;
    padding:0.8rem;
    border-radius: 0.3rem;
    box-shadow: 0 0 0 0.3rem rgba(var(--color-dark), 0.3), 0 0 0.2rem 0.25rem rgba(var(--color-light), 0.3) inset, 0 0 1.25rem 0.25rem rgba(var(--color-dark), 0.8);

    &:hover 
    {
      transform: scale(1.01);
      box-shadow: 0 0 0 0.3rem rgba(var(--color-azul), 0.3), 0 0 0.625rem 0.25rem rgba(var(--color-light), 0.3) inset, 0 0 1.25rem 0.25rem rgba(var(--color-dark), 0.8);
    }
    > div:first-child 
    {
      width: 100%;
      display: flex; flex-direction: row;
      gap: 0.5rem;
      > div:first-child 
      { 
        width: min-content;
        flex-grow: 1; 
        > img {width: 9rem; object-fit: contain; }
      }
      > div:last-child
      { 
        display: flex;
        flex-direction: column;
        justify-content: center; align-items: center;
        font-size: var(--size-text-medium);
      }
    }
    > div:nth-child(2) 
    {
      width: 100%;
      > form 
      {
        gap: 1.5rem;
        > div 
        {
          > label 
          {
            left: 0;
            padding: 0.2rem 0.3rem;
            font-size: var(--size-text-small);
            white-space: nowrap; /* Evita que el texto se divida en varias líneas */
          }
          > input 
          {
            width: 100%;
            padding: 0.1rem 0.3rem;
            border: 0.15rem solid rgb(var(--color-azul-m-50));
            font-size:calc(var(--size-text-medium));
          }
        }
        > button 
        {
          padding: 0.3rem 0;
          transition: background 0.2s, border-radius 0.2s, transform 0.2s;
        }
      }
    }
  }
  
  @keyframes forms 
  { 0% { transform: scale(0.6); } 100% { transform: scale(1); } }
  
  .errorlist {
    transform: translate(0%, -125%);
    opacity: 0.8;
    position: absolute;
    left: 0;
    background-color: rgb(var(--danger));
    width: 100%;
    padding: 0.2rem;
    border-radius: 0.3125rem;
    font-size: var(--size-text-small);
  }
  
  .errorlist > li {
    list-style: none;
  }
  
  @keyframes errorlist {
    0%, 100% { transform: translate(0, -125%); }
    25% { transform: translate(10%, -125%); }
    50% { transform: translate(-10%, -125%); }
    75% { transform: translate(10%, -125%); }
  }

}